textarea{
resize: none !important;
overflow: auto !important;
}


img {  
    width: auto;  
    max-height: calc(1.275rem + .3vw);  
}  
body {
    background-image: url(ภาพ/background.jpg);
  }

  .friendlist {
    text-decoration: none;
    color: black;
  }

  .friendlist:hover {
    cursor: pointer;
  }

  .active .friendlist{
    color: red;
  }

  .btn:hover {
    background-color: #ffffff;

  }

.chatMessage{
    width: 90%;
    height: auto;
}

.chatButton{
    width: auto;
    height: auto;
}

a:hover {
    cursor:pointer;
   }

.message-input .wrap .attachment {
    position: absolute;
    z-index: 4;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}
.message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}
.wrap button {

    padding-bottom: 7px;
    padding-left: 10px;
    margin-right: 7px;
}



.message-input .wrap button:hover {
    background: #435f7a;
  }

  input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.card-text {
    border: 2px solid #ddd;
    border-radius: 8px;
}

ul.listmsg {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages{
    max-height: 50rem;
    overflow-y: auto;
}

.list-group{
    max-height: 27.5rem;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.QNA{
    max-height: 30rem;
    overflow-y: auto;
}

.card-body{
    height: 60vh;
    max-height: 60vh;
}

.rtext{
    width: auto;
    max-width: 50%;
}
.ltext{
    cursor: pointer;
    width: auto;
    max-width: 50%;
}
small{
    color: #bbb;
    font-size: 0.7rem;
    text-align: right;
}

*::-webkit-scrollbar{
    width: 3px;
}


*::-webkit-scrollbar-thumb{
    background-color: #bbb;
}

*::-webkit-scrollbar-thumb:hover{
    background-color: #ffc107;
}

.friendinfo{
    border: none;
    float: right;
    color: black;
    background-color: #ffffff;
    font-size: 21px;
}

#finfo{
    margin-bottom: 0;
}

.linelist{
    cursor: pointer;
}
