body {
    background-image: url(ภาพ/background.jpg);
  }



  .btn:hover {
    background-color: #ffffff;

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F3F4;
    color: #273746;
  }

  .container {
    align-items: center;
    margin-top: 3rem;
    width: 700px;

  }

  h4 {
    margin-top: 20px;
    margin-bottom: 20px;

  }

  thead {

    position: sticky;
    top: 0px;

  }

  table {
    border: 1px solid #5D6D7E;
    text-align: center;
  }

  th {
    height: 50px;
    vertical-align: center;

  }

  .name {
    text-align: left;
    padding-left: 30px;
  }

  tr th .check {
    margin: 0 auto;
    margin-right: 10rem;

  }

  span {
    font-size: 25px;
    margin-top: 20px;
  }

  span .namegroup {
    font-size: 15px;
    margin-top: 10px;
  }

  button {
    margin-top: 16px;
    align-items: center;
    width: 500px;
  }

  tbody {
    max-height: 200px;
    /* กำหนดความสูงสูงสุดของ tbody */
    overflow-y: auto;
    /* ทำให้ tbody เป็น scrollable ในแนวตั้ง */
    display: block;
    /* ทำให้ tbody เป็น block element */
  }